.text-white{
  position: relative;
  z-index: 100001;
}
.agregado{
    background-color: aliceblue;
    width: 40rem;
    height: 5rem;
    position:fixed;
    bottom: 10rem;
    right: 0;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate both;
}
.agregado__emoji{
    font-size: 2rem;
}

 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  