.pagination{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.pagination__btn{
    background-color: #1313d3;
    display: inline;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.pagination__btn:hover{
    background-color: #1313a7;
}

.pagination__page{
    font-size: 4rem;
}
.pagination__main{
    font-size: 5rem;
    color: white;
    font-weight: bold;
}